@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

:root {
  --font-pacifico: "Pacifico", serif;

  --breakpoint-xs: 460px;
}

/* Imposta un margine di scroll di 65px per compensare l'altezza della navbar fissa,
   così i link con ancore portano all'inizio visibile della sezione */
section {
  /* altezza navbar = 65px */
  scroll-margin-top: 65px;
}